@import "tailwindcss";

.toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .toolbar button {
    padding: 5px 10px;
    cursor: pointer;
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fadeInScale {
    animation: fadeInScale 0.2s ease-out;
  }